<div class="content">
  <h2 class="section-title">NEWS</h2>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/1/">news 1</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/2/">news 2</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/3/">news 3</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/4/">news 4</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/5/">news 5</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/6/">news 6</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/7/">news 7</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/8/">news 8</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/9/">news 9</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/10/">news 10</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/11/">news 11</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/12/">news 12</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/13/">news 13</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/14/">news 14</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/15/">news 15</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/16/">news 16</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/17/">news 17</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/18/">news 18</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/19/">news 19</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/20/">news 20</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/21/">news 21</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/22/">news 22</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/23/">news 23</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/24/">news 24</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/25/">news 25</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/26/">news 26</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/27/">news 27</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/28/">news 28</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/29/">news 29</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/30/">news 30</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/31/">news 31</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/32/">news 32</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/33/">news 33</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/34/">news 34</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/35/">news 35</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/36/">news 36</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/37/">news 37</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/38/">news 38</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/39/">news 39</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/40/">news 40</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/41/">news 41</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/42/">news 42</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/43/">news 43</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/44/">news 44</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/45/">news 45</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/46/">news 46</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/47/">news 47</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/48/">news 48</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/49/">news 49</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/50/">news 50</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/51/">news 51</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/52/">news 52</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/53/">news 53</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/54/">news 54</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/55/">news 55</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/56/">news 56</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/57/">news 57</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/58/">news 58</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/59/">news 59</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/60/">news 60</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/61/">news 61</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/62/">news 62</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/63/">news 63</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/64/">news 64</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/65/">news 65</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/66/">news 66</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/67/">news 67</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/68/">news 68</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/69/">news 69</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/70/">news 70</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/71/">news 71</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/72/">news 72</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/73/">news 73</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/74/">news 74</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/75/">news 75</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/76/">news 76</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/77/">news 77</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/78/">news 78</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/79/">news 79</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/80/">news 80</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/81/">news 81</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/82/">news 82</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/83/">news 83</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/84/">news 84</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/85/">news 85</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/86/">news 86</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/87/">news 87</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/88/">news 88</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/89/">news 89</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/90/">news 90</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/91/">news 91</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/92/">news 92</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/93/">news 93</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/94/">news 94</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/95/">news 95</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/96/">news 96</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/97/">news 97</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/98/">news 98</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/99/">news 99</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/100/">news 100</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/1/">news 1</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/2/">news 2</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/3/">news 3</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/4/">news 4</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/5/">news 5</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/6/">news 6</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/7/">news 7</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/8/">news 8</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/9/">news 9</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/10/">news 10</a>
    </dd>
  </dl>
  <!-- 追記していく -->
  <dl>
    <a href="/news/" style="font-weight: 700;">ニュース一覧へ &gt;</a>
  </dl>
</div>

<style>
  .content {
    width: 65%;
    margin: 10px auto;
  }

  .content dl {
    width: auto;
  }
</style>
