<header>
  <div class="header-title">
    <h1>This is Header</h1>
  </div>
</header>

<style>
  header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
  }

  header h1 {
    text-align: center;
    margin: 0;
  }

  .header-title {
    padding-top: 20px;
  }
</style>
