<footer>
  <div class="footer-content">
    <p class="delta-copyright">
      ©<span id="js_copyright">2024</span>
      DeltaX All Rights Reserved.
    </p>
  </div>
</footer>

<style>
  footer {
    position: sticky;
    top: 100vh;
    width: 100%;
    height: 100px;
    background: #252c35;
    color: white;
  }

  footer .delta-copyright {
    text-align: center;
    padding: 15px;
  }
</style>
