<div class="content">
  <h2 class="section-title">NEWS</h2>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/1/">news 1</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/2/">news 2</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/3/">news 3</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/4/">news 4</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/5/">news 5</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/6/">news 6</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/7/">news 7</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/8/">news 8</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/9/">news 9</a>
    </dd>
  </dl>
  <dl>
    <dt>2024年11月22日</dt>
    <dd>
      <a href="/news/10/">news 10</a>
    </dd>
  </dl>
  <!-- 追記していく -->
  <dl>
    <a href="/news/" style="font-weight: 700;">ニュース一覧へ &gt;</a>
  </dl>
</div>

<style>
  .content {
    width: 65%;
    margin: 10px auto;
  }

  .content dl {
    width: auto;
  }
</style>
